<% results.forEach(function(result){%>
    <p> <%= result.first_name%>  <%= result.last_name%></p>
    <p> Team: <%= result.team.city %> <%= result.team.name %></p>

    <a href="/faves/<%= result.id %>">Learn More</a>
    
<%}) %>