<hr>
<hr>
<ul class="list-group">

        <% results.forEach(function(result){%>
            <li class="list-group-item active">
                    <p> <%= result.first_name%>  <%= result.last_name%></p>
                    <p> Team: <%= result.team.city %> <%= result.team.name %></p>
                    
            </li>
           
            <form action="/faves" method="post">
                <input type="hidden" name="firstname" value="<%= result.first_name %>">
                <input type="hidden" name="lastname" value="<%= result.last_name %>">
        
                <div id = "favesBtn">
                    <input type="submit" value="Add to faves">
        
                </div>
            </form>
        <%}) %>
    </ul> 

